<nav class="nav-bar">
    <div>
        <div class="logo">
            <a href="#">Receipe Book</a>
        </div>
        <div>
            <ul>
                <li><a href="#">Receipes</a></li>
                <li><a href="#">Shopping Lists</a></li>
            </ul>
            <ul>
                <li>
                    <ul>
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
