<label>Username: </label>
<input type="text" [(ngModel)]="username">
<h1>{{username}}</h1>
<button [disabled]="username === '' " (click)="onCreateServer()">Rest Button</button><br>

<div>
    <label>Server: </label>
    <input type="text" [(ngModel)]="servername">
    <p *ngIf="serverCreated; else noServer" >Server was created, server name is {{servername}}</p>
    <ng-template #noServer>
        <p>No server was created.</p>
    </ng-template>
    <button (click)="onCreateServer()">CLICK ME</button>
</div>

<p>{{'Server'}} with ID {{serverID}} is {{getServerStatus()}}</p>